.login-container {
  min-height: 100vh;
  background: #fff;
  /* background: linear-gradient(to right, #006400, #00b36b); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.login-form {
  background: linear-gradient(to right, #006400, #00b36b);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 128, 0, 0.3);
  width: 400px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #006400;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.captcha-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.captcha-container img {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 14px;
}

.login-form button {
  background: #006400;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

.login-form button:hover {
  background: #00994d;
}
